body {
    background-color: #FAF7FD;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

a {
    color: #BB99DD;
}

#container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#main-link {
    margin: 0.7em 0 1em;
    font-weight: 300;
}

#main-link a {
    text-decoration: none;
}

.links {
    display: block;
    border: 2px solid #BB99DD;
    margin: 1em 0;
    padding: 0.5em 8em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 600;
}

.links:hover {
    background-color: #BB99DD;
    color: #FAF7FD;
}

#social-media {
    margin-top: 3em;
}

#social-media a {
    margin: 0 0.7em;
}

#social-media img:hover {
    width: 20px;
}
